<p>
  Inicio funcionando :-)!
</p>
<div class="container">
  <div class="row">
    <div style="background-color: red"class="col-sm-6">Rojo</div>
    <div style="background-color: red"class="col-sm-6">Rojo</div>

    <div style="background-color: green"class="col-md-6">Verde</div>
    <div style="background-color: green"class="col-md-6">Verde</div>

    <div style="background-color: yellow" class="col-lg-6">Amarillo</div>
    <div style="background-color: yellow" class="col-lg-6">Amarillo</div>

    <div style="background-color: blue"class="col-xl-6">Azul</div>
    <div style="background-color: blue"class="col-xl-6">Azul</div>
    </div>

<br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-2">Bootstrap</div>
    <div class="col-sm-2">Doc</div>
    <div class="col-sm-2">Exmple</div>
    <div class="col-sm-2">themes</div>
    <div class="col-sm-2">Expo</div>
    <div class="col-sm-2">Blog</div>


  </div>
  <div class="row">
    <h1 style="background: purple">Bootstrap is the most popular HTML, CSS, and JS framework in the world for building responsive, mobile-first projects on the web</h1>

  </div>
  <div class="row">
    <h1>Easy to get started.</h1>
    Quickly include Bootstrap's CSS and JS into any project. Use your favorite package manager, download the source, or use the Bootstrap CDN.
  </div>
<div class="row">
  <div class="col-sm-6"><h1>Managed dependencies</h1>
    Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our Gruntfile and readme.</div>
  <div class="col-sm-6"><h1>Bootstrap CDN</h1>
    When you just need to include Bootstrap's compiled CSS and JS, use the Bootstrap CDN, free from the Max CDN folks.
    <code class="language-html" data-lang="html"><span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"</span> <span class="na">integrity=</span><span class="s">"sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"</span> <span class="na">crossorigin=</span><span class="s">"anonymous"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://code.jquery.com/jquery-3.1.1.slim.min.js"</span> <span class="na">integrity=</span><span class="s">"sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"</span> <span class="na">crossorigin=</span><span class="s">"anonymous"</span><span class="nt">&gt;&lt;/script&gt;</span>
      <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"</span> <span class="na">integrity=</span><span class="s">"sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"</span> <span class="na">crossorigin=</span><span class="s">"anonymous"</span><span class="nt">&gt;&lt;/script&gt;</span>
      <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"</span> <span class="na">integrity=</span><span class="s">"sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"</span> <span class="na">crossorigin=</span><span class="s">"anonymous"</span><span class="nt">&gt;&lt;/script&gt;</span></code>

  </div>
</div>

  <div class="row"><h1>Official Bootstrap Themes.</h1>Take Bootstrap to the next level with official premium themes. Each theme is its own toolkit featuring all of Bootstrap, brand new components and plugins, full docs, build tools, and more.</div>




</div>
<!-- p.tojo es class-->
<p class="rojo"></p>
<p class="rojo"></p>
<!-- p#verde es id-->
<p id="verde"></p>
<!-- img.responsive*3-->
<img src="" alt="" class="responsive"><img src="" alt="" class="responsive"><img src="" alt="" class="responsive">
<!-- h2.clase1.clase2.clase-->
<h2 class="clase1 clase2 clase3"></h2>
<!-- .fila>.columna+.columna+h1-->
<div class="fila">
  <div class="columna"></div>
  <div class="columna"></div>
  <h1></h1>
</div>




