<div class="container">
  <h1>Bienvenidos</h1>
  <h2>usuarios Conectados</h2>
  <div class="row">
  <div class="col-sm-4" *ngFor="let usuario of arregloUsuario">
    <div class="card" style="width: 20rem;">
      <div class="card-block">
        <h4 class="card-title">Nombre</h4>
        <p class="card-text">{{usuario.nombre}} {{usuario.apellido}}</p>
        <a href="#" class="btn btn-primary btn btn-block">Go somewhere</a>
      </div>
    </div>
  </div>
  </div>
  <div>
    <ul>
      <li *ngFor="let usuario of arregloUsuario">{{usuario.nombre}}<li>
    </ul>
  </div>

</div>
